{{template "header"}}
    <a href="/login">login</a>
    <a href="/register">sign in </a>
{{template "nav-end"}}
    <div id="bg-main-image">
        <img src="assets/marcus_image.jpg" alt="Marcus surelius">
    </div>

    <div class="home-text">
        <h2>What is this?</h2>
        <p>This is the Best Todo App in the world!!!!</p> 
        <p>It is "The Todo App."</p>
        <p>With this app you can create task, orginize them based of priority,
           and the app will keep track of any changes you make.</p>
    </div>
{{template "footer"}}

