{{define "header"}}
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>The TODO app</title>
        <meta charset="UTF-8">
        <script defer src="/assets/script.js"></script>
        <link rel="stylesheet" href="/assets/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="nav">
            <h1>The TODO app</h1>
            <div>
        {{end}}
        {{define "nav-end"}}
            </div>
        </div>
        {{end}}
{{define "footer"}}
    </body>
</html>
{{end}}

