{{template "header"}}
    <a href="/logout">logout</a>
    <a href="/home">home</a>
{{template "nav-end"}}

    <div class="todo">
        <form method='POST'> 
            <label for="todo">Add todo: </label>
            <input type="text" name="todo" oninput="todo_func(this)"> 
            <input type="submit" disabled=true> 
        </form>
        <div> 
            {{range $tmp, $var := .}}
            <div ondrop="drop(event)" ondragover="event.preventDefault()" 
                draggable="true" ondragstart="drag(event)" id="{{$tmp}}">
                <button type="button" value="{{$var.Id}}" onclick="todo_done(this)">done?</button>
                <p>{{$var.Task}}</p>
            </div>
            {{end}}
        </div>
    </div>
{{template "footer"}}
